body {
  color: #999;
}

.div_site_title {
  position: relative;
  background-color: #ddd;
  height: 80px;
  padding: 5px;
}

.div_site_title h1 {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 26px;
}

#site_logo {
  position: absolute;
  font-size: 50px;
  color: #eee;
  top: 5px;
  right: 10px;
}

h2 {
  font-size: 24px;
  border-bottom: solid 5px #ddd;
}

.line_through {
  text-decoration: line-through;
}
